##################################################
# React
##################################################

frontend/node_modules/
frontend/dist/
frontend/.vite/

##################################################
# ASP.NET Core
##################################################

backend/**/bin/
backend/**/obj/
backend/.vs/

##################################################
# Python
##################################################

ml-service/**/__pycache__/
ml-service/**/*.pyc
ml-service/**/venv/
ml-service/**/.venv/

##################################################
# Logs
##################################################

*.log
logs/

##################################################
# VS Code
##################################################

.vscode/

##################################################
# Visual Studio
##################################################

*.user
*.suo

##################################################
# OS
##################################################

Thumbs.db
.DS_Store

##################################################
# Environment Variables
##################################################

frontend/.env
backend/**/appsettings.Development.json

ml-service/**/.env

.env
.env.*
!.env.example